	<!DOCTYPE html>
<html>
<head>
 <% include ../views/partials/head.ejs %>
</head>
<header>
 <% include ../views/partials/header.ejs %>  
</header>
<body>
		<ul id="index">
			<a href="/users/new"><li>New User</li></a>
			<a href="/users/normalsearch"><li>I just want to eat!</li></a>
		</ul>
</body>
</html>