<!DOCTYPE html>
<html>
<head>
 <% include ../views/partials/head.ejs %>
</head>
<header>
 <% include ../views/partials/header.ejs %>  
</header>
<body id="show"> 
<h1>Results page</h1>

	<h2><%= data.businesses[0].name %> </h2>
	<p><%= data.businesses[0].location.display_address %></p>
	<p><%= data.businesses[0].location.city %></p>
	<p><%= data.businesses[0].location.postal_code %></p>
	 

<a href="/users/normalsearch">Search Again</a>
</body>
</html>